/*!  */


/* Fonts
   ========================================================================== */

//  Importing fonts from google.
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');

// Fonts variables
$base-font: 'Roboto', Helvetica, Arial, sans-serif;

html,
.root {
    font-size: 14px;
    line-height: 31px;
    font-family: $base-font;
}

body{
    font-size: 1em;
}

h1,
.h1 {
    font-size: 8em;
    line-height: 1.10714286em;
    margin-top: 0.27678571em;
    margin-bottom: 0.55357142em;
}

h2,
.h2 {
    font-size: 4em;
    line-height: 1.10714286em;
    margin-top: 0.55357143em;
    margin-bottom: 0.55357143em;
}

h3,
.h3 {
    font-size: 2em;
    line-height: 1.10714286em;
    margin-top: 1.10714286em;
    margin-bottom: 0em;
}

h4,
.h4 {
    font-size: 1em;
    line-height: 2.21428571em;
    margin-top: 2.21428571em;
    margin-bottom: 0em;
}

h5,
.h5 {
    font-size: 1em;
    line-height: 2.21428571em;
    margin-top: 2.21428571em;
    margin-bottom: 0em;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 0em;
    margin-bottom: 2.21428571em;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}


/* Let's make sure all's aligned */

a,
b,
i,
strong,
em,
small,
code {
    line-height: 0;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}